
.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #CBB9F5;
  border-radius: 50%;
  opacity: 0.5;
  pointer-events: none;
  z-index: 9999; /* Ensure circle is on top */
  box-shadow: 0 0 10px 10px rgba(203, 185, 245, 0.7); /* Add blur to border */
  }
